<div class="wrapper">
  <div class="top">
    <div class="nav">
      <ul>
        <li><a [routerLink]="['/dashboard']">Quantasnet Defender</a></li>
        <li><a [routerLink]="['/dashboard']" [routerLinkActive]="'active'">Dashboard</a></li>
        <li><a [routerLink]="['/deps']" [routerLinkActive]="'active'">Dependencies</a></li>
        <li><a [routerLink]="['/apps']" [routerLinkActive]="'active'">Apps</a></li>
        <li><a [routerLink]="['/builds']" [routerLinkActive]="'active'">Builds</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    &copy;2017 Quantasnet
  </div>
</div>
