<h2>Dashboard</h2>

<div class="dashboard" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1rem">
  <div *ngFor="let stat of stats" fxFlex="33%" fxFlex.lt-md="100%" class="stat">
    <h3>{{ stat.name }}</h3>
    <p>{{ stat.count }}</p>
  </div>
</div>

<h3>Recent Builds</h3>
<shark-table
  (pageChange)="refreshRecentBuilds($event)"
  [linkTarget]="'/build'"
  [linkKey]="'id'"
  [data]="recentBuilds"
  [filterable]="false"
  [serverSideData]="true"
  [sortable]="false"
  [caption]="'Recent Builds Table'"
  [hideCaption]="true"
  [columns]="buildsTableColumns" >
</shark-table>
