<ng-container *ngIf="dep">
  <h2>{{ dep.artifactId }}</h2>

  <table>
    <tr><th>Group Id</th><td>{{ dep.groupId }}</td></tr>
    <tr><th>Artifact Id</th><td>{{ dep.artifactId }}</td></tr>
    <tr><th>Version</th><td>{{ dep.version }}</td></tr>
    <tr><th>Type</th><td>{{ dep.type | titlecase }}</td></tr>
    <tr><th>Status</th><td><app-dep-status [data]="dep.dependencyStatus.status"></app-dep-status></td></tr>
  </table>

  <br />
  Update Status:
  <form (ngSubmit)="updateStatus()" #statusForm="ngForm">
    <select id="newStatus" name="newStatus" [(ngModel)]="newStatus">
      <option *ngFor="let status of statuses" [ngValue]="status">{{ status.display }}</option>
    </select>
    <button type="submit">Update</button>
  </form>

  <h3>Builds</h3>
  <app-table
    (pageChange)="getBuildsPage($event)"
    [linkTarget]="'/build'"
    [linkKey]="'id'"
    [data]="buildPage"
    [columns]="buildsTableColumns"
    [sortable]="false"
    [localFilter]="true">
  </app-table>

  <h3>History</h3>
  <app-table
    *ngIf="dep"
    [data]="dep.dependencyHistories"
    [columns]="historyTableColumns"
    [sortable]="false"
    [serverSide]="false"
    [localFilter]="true">
  </app-table>
</ng-container>
